project:
  type: website

website:
  title: "Jiawen Yu"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: Project.qmd
        text: Project
      
page-footer:
rights: "&copy; 2025, Jiawen Yu"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    
execute: 
  freeze: auto